<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <style media="screen">
          body {
            font-family: 'OpenSans',sans-serif;
          }
        </style>
    </head>
    <body>
        <h2>{{ code }} {{ text }}</h2>
    </body>
</html>
